/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Whisper&display=swap');
*{
  font-family: Poppins;
}
body{
  
    margin: 0;
      padding: 0;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='32' height='32' patternTransform='scale(2) rotate(40)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 13%, 1)'/><path d='M40 16h-6m-4 0h-6m8 8v-6m0-4V8M8 16H2m-4 0h-6m8 8v-6m0-4V8'  stroke-linecap='square' stroke-width='1' stroke='hsla(259, 0%, 3%, 1)' fill='none'/><path d='M16-8v6m0 4v6m8-8h-6m-4 0H8m8 24v6m0 4v6m8-8h-6m-4 0H8'  stroke-linecap='square' stroke-width='1' stroke='hsla(340, 0%, 36%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
      background-size: auto;
      background-color: #242424;
      box-shadow: 0 0 200px rgba(0, 0, 0, 0.537) inset;
      overflow: hidden;
}

.fixed-logo{
  position:absolute;
  font-size: 30px;
  top: 0;
  left: 0;
  margin: 15px;
  cursor: default;
  font-family: Whisper,
    cursive;
  text-shadow: 0 0 10px #70f, 0 0 20px #70f, 0 0 30px #70f, 0 0 40px #70f, 0 0 50px #70f, 0 0 60px #70f, 0 0 70px #70f;
  /* Create the simple glow effect */
}

.App {
  display: flex;
  color: white;
  background-color: #1e1e1ec0;
  border-radius: 25px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.219);
  padding: 15px 300px;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(3px);
    /* Add blur effect */
}

#break-label,
#session-label,
#timer-label {
  text-align: center;
  margin-bottom: 20px;
}

#break-length,
#session-length,
#time-left {
  font-size: 36px;
  font-weight: bold;
}

button {
  font-size: 24px;
  padding: 10px 20px;
  border: none;
  margin: 10px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.159);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

#start_stop,
#reset {
  margin-top: 20px;
}

#start_stop {
  background-color: #28a745;
  transition: .3s;
}
#start-stop:hover{
  background-color: rgba(24, 24, 24, 0.716);
  color: white;
}

#reset {
  background-color: #dc3545;
  transition: .3s;
}
#reset:hover{
    background-color: rgba(24, 24, 24, 0.716);
      color: white;
}

/* Make the buttons larger on smaller screens */
@media (max-width: 800px) {
  .App {
    padding: 15px 20px;
    /* Adjust padding for smaller screens */
  }
  .fixed-logo{
    display: none;
  }

  button {
    font-size: 18px;
    /* Reduce font size of buttons */
    padding: 8px 16px;
    /* Adjust padding of buttons */
  }
}
